/**************** SECCION TABLA ***************/
.closeMenuTab{
  padding: 5px;
  font-weight: bold;
  width: fit-content;
}
.contedOcultador{
  position: absolute;
  top: -200vh;
  right: 0px;
  background-color: rgb(228, 228, 228);
  height: 95vh;
  overflow-y: scroll;
  transition: all 0.5s ease-in-out;
  z-index: 100;
}
.listVer{
  top: 0vh;
}
#contedOcultador>div{
  margin: 15px;
}
/*ocultador*/
.contenTable{
  width: 98%;
  height: calc(100vh - 100px);
  margin: auto;
  margin-top: 10px;
  overflow-y: scroll;
  z-index: 1;
}
/*tabla de contenido*/
.buscador{
  text-align: center;
  padding: 5px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.buscador>input{ max-width: 400px;}
.buscador>span{ margin-left: 15px;}

.contenTable{
  width: 98%;
  height: calc(100vh - 120px);
  margin: auto;
  margin-top: 10px;
  overflow: scroll;
  z-index: 1;
}
table {
  border-collapse: collapse;
  margin: auto;
}
thead{
  border: 1px solid #00000000;
  text-align: center;
  font-weight: bold;
}
td {
  border: 1px solid #e0e0e0;
  padding: 7px;
  white-space: nowrap;
}
th {
  padding: 7px;
  background-color: rgb(109, 109, 109);
  white-space: nowrap;
  color: #ffffff;
}
thead {
  position: sticky;
  top: 0;
}
tfoot {
  position: sticky;
  bottom: 0;
}
.contCI{
  display: flex;
  justify-content: space-between;
}
.mayuscula{
  text-transform: capitalize;
}
.bs{text-align: end;}
/*tabla de contenido*/ 
.of{
  background-image: url('data:image/svg+xml,<svg height="128px" style="enable-background:new 0 0 128 128;" version="1.1" viewBox="0 0 128 128" width="128px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" > <g style="fill:none;stroke:%23ffffff;stroke-width:12;stroke-linecap:square;stroke-miterlimit:10;"> <g> <g> <line x1="63.185" x2="37.821" y1="84.061" y2="109.423"/> <line x1="37.821" x2="12.456" y1="109.423" y2="84.061"/> </g> <line x1="37.821" x2="37.821" y1="109.423" y2="9.801"/> </g> <g> <g> <line x1="64.815" x2="90.181" y1="44.241" y2="18.877"/> <line x1="90.181" x2="115.544" y1="18.877" y2="44.241"/> </g> <line x1="90.181" x2="90.181" y1="18.877" y2="118.199"/> </g> </g></svg>');
  display: inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
/**************** SECCION TABLA ***************/





